h1 {
  color: #fff !important;
  font-size: 36px;
}

.content_bg {
  background: #120045;

  .content_bg_img {
    mix-blend-mode: overlay;
    top: 0;
  }

  .container {
    margin-top: 90px;

    .title {
      h1 {
        color: #fff;
        font-size: 36px;
      }

      p {
        color: #fff;
        font-size: 28px;
      }
    }
  }
}

.button_fil {
  width: 17%;
}

.select_options_block {
  z-index: 123;

  .clickBlock {

    .select_block_one {
      width: 150px;
    }

    .select_block_to {
      width: 160px;
    }

    .select_block_tre {
      width: 250px;
    }
  }


  .select_block {
    padding: 18px 10px;
    background: white;
    font-weight: 400;
    position: relative;
    color: #22095c !important;
    font-size: 18px;
  }

  .active_icon {
    position: relative;
    left: 100%;
  }

  .active_icon > .fa-caret-right {
    transform: rotate(90deg);
    padding-right: 0 !important;
    transition: 0.5s;

  }

  .active_select {
    position: absolute;
    top: 0;
    left: 0;
    color: #f15f0f;
    font-size: 14px;
  }

  .active_modal {
    display: flex;
    position: absolute;
    top: 50%;
    width: 200px;
    padding: 20px 10px;
    line-height: 30px;
    flex-direction: column;
    justify-content: start;
    color: black;
    background: white;
    margin-left: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    margin-top: 5px;
    transition: 1s;

    span {
      padding: 2%;
      font-size: 16px;
    }

    span:hover {
      color: #f15f0f;
      transition: 0.3s;
      cursor: pointer;
    }

  }

  .filter_button {
    border-right: 15px solid #c1beff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }

  .button_filter {
    border: none;
    margin: 0;
    height: 80px;
    background: #f15f0f !important;
    color: #fff !important;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
  }
}

.content_blog {
  background: white;
  border-radius: 16px;

  img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .text-center {
    h2 {
      font-weight: 500;
      font-size: 20px;
      color: #120045;
      line-height: 25px;
      min-height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
    }

    p {
      font-size: 16px;
      color: #575757;
      margin-top: 5px;
      line-height: 20px;
      text-align: left;
    }
  }

  .blog_icons {
    .block_time {
      width: 50%
    }

    .block_video {
      width: 20%
    }

    .block_e {
      width: 20%
    }

    .block_time {
      &:hover {
        .modal_block {
          display: block !important;
          font-size: 15px;
          border: #120045 1px solid;
          background: #120045;
          top: -150% !important;
          left: -50% !important;
          padding: 3%;
          color: white;
          text-align: center;
          transition: 0.5s;
        }
      }
    }

    .block_video {
      &:hover {
        .modal_block {
          display: block !important;
          font-size: 15px;
          border: #120045 1px solid;
          background: #120045;
          top: -150%;
          left: -50%;
          padding: 3%;
          color: white;
          text-align: center;
          transition: 0.5s;
        }
      }
    }

    .block_e {
      &:hover {
        .modal_block {
          display: block !important;
          font-size: 15px;
          border: #120045 1px solid;
          background: #120045;
          top: -150%;
          left: -10%;
          padding: 3%;
          color: white;
          text-align: center;
          transition: 0.5s;
        }
      }
    }


    .fas {
      color: #f15f0f;
    }
  }

  .blog_buttons {
    button {
      background: #f15f0f;
      padding: 2%;
      font-size: 16px;
      color: white;
      border: none;
      width: 30%;
    }
  }
}

.videos_block {
  margin-top: 20px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.content_bottom {
  background: #e1e1e1;
  background-image: url("../../immages/newsletter_layer.bbf926c4.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 100px;

  h2 {
    color: #f15f0f;
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 30px;
  }

  .telegram {
    border: 2px solid black;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1px 17px;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;

    .fa-telegram {
      font-size: 40px;
      color: #4c4cfc;
      margin-right: 15px;
    }
  }

  .content_bottom_input {
    border-radius: 20px 0 0 20px;
    width: 80%;
    border: none;
    outline: none;
    height: 50px;
    padding-left: 20px;
  }

  .content_bottom_btn {
    background-color: #f15f0f;
    padding: 0 40px;
    border-radius: 0 20px 20px 0;
  }
}

.title_block {
  color: white;
  font-size: 25px;
}

.lod_more {
  border: 1px solid #F15F0F;
  color: #F15F0F;
  font-size: 15px;
  padding: 8px 12px;

  &:hover {
    color: #F15F0F;
    background: #2C0C3E;
  }
}
