.header_block {
  background: #100e37;
}

.sign_in {
  a {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
}

.header_links {
  color: #f15f0f !important;
  margin-left: 20px;
}

.header_menu_block {
  background: #22095C;
}

.header_menu {
  h2 {
    font-size: 20px;
    color: white;
  }

  nav {
    ul {
      margin-bottom: 0;

      li {
        list-style-type: none;

        a {
          cursor: pointer;
          color: white;
          text-decoration: none;
          font-size: 14px;

          &:hover {
            transition: .3s;
            color: #f15f0f;
          }
        }

      }

    }
  }
}

.active_link {
  color: #f15f0f !important;
}

.left_menu {
  background: white;
  left: 0;
  top: 0;
  height: 100vh;
  max-width: 320px;
  width: 100%;
  z-index: 546546565;
  transition: 2s;

  nav {
    line-height: 56px;
    font-size: 16px;

  }

  .menu_header {
    h2 {
      font-size: 18px;

      &:hover {
        color: #F15F0F;
        cursor: pointer;
      }
    }

    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding-bottom: 10px;
  }

  li {
    list-style-type: none;

  }

  a {
    color: black;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: #F15F0F;
      cursor: pointer;
    }
  }

  .closed_menu {
    font-size: 26px;
    margin-right: 15px;
    font-weight: 600;
    cursor: pointer;
  }


}

.blur {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: #bababa47;
  top: 0;
}
