@import "~bootstrap/dist/css/bootstrap.min.css";
@import "assets/styles/header/header";
@import "assets/styles/main/main";
@import "assets/styles/footer/footer";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100%;
}

.menu_burger {
  font-size: 20px;
  color: #f15f0f;
}

.button_top {
  position: fixed;
  right: 2%;
  font-size: 20px;
  color: wheat;
  text-align: center;
  padding-top: 6px;
  border-radius: 50%;
  background: #F15F0F;
  bottom: 5%;
  cursor: pointer;
}

.scroll_button {
  z-index: 99999;
  width: 50px;
  height: 50px;

  background: #F15F0F;
  bottom: 5%;
  cursor: pointer;
  transition: 2s;
}

.remove_button {
  position: fixed;
  z-index: -1;
}

.footer_container {
  max-width: 960px;
  margin: 0 auto;
}

.content_bottom_btn {
  color: white;
}

@media only screen and (max-width: 992px) {
  .select_options_block .select_block {
    width: 150px;
  }
  .content_blog .blog_buttons button {
    font-size: 15px;
  }
  .content_bottom h2 {
    font-size: 35px;
  }
  .content_bg .container .title p {
    font-size: 18px;
  }
  .footer_bg .payment_method {
    font-size: 41px;
  }
  .footer_bg h4 {
    font-size: 17px;
  }
  .clickBlock {
    position: relative;

    .select_block_one {
      width: 120px !important;
    }

    .select_block_to {
      width: 130px !important;
    }

    .select_block_tre {
      width: 200px !important;
    }
  }
  .select_block {
    font-size: 14px !important;
  }
  .select_options_block .button_filter {
    height: 73px !important;
  }
  .button_fil {
    width: 25%;
  }
}

@media only screen and (max-width: 960px) {
  .footer_bg {
    padding: 50px 0;
  }
  .footer_bg > div {
    flex-direction: column;
  }
  .footer_left {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .footer_right {
    width: 100% !important;
  }
}

@media only screen and (max-width: 767px) {
  .select_options_block .select_block {
    width: 120px;
  }
  .select_options_block .button_filter {
    height: 65px;
  }
  .content_bottom {
    h2 {
      font-size: 28px !important;
    }
  }
  .blog_buttons {
    flex-direction: column;

    button {
      width: 100% !important;
      margin-top: 5px;
    }
  }
  .bancs_block {
    width: 50% !important;
  }
  .input_block {
    .content_bottom_btn {
      font-size: 13px;
      padding: 0 15px;
    }

    .content_bottom_input {
      font-size: 13px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .filter_block_media {
    flex-direction: column !important;
  }
  .select_options_block .select_block {
    width: 100% !important;
    padding: 3% 4%;
  }
  .select_options_block {
    width: 100% !important;

    div {
      width: 100% !important;
    }
  }
  .filter_button {
    display: none;
  }
  .button_fil {
    width: 100% !important;
  }
  .active_modal {
    position: inherit !important;
    margin: 0 !important;
    padding-left: 12px;
  }
  .select_options_block .button_animation:after {
    content: "";
    background: #d0cccc;
    display: block;
    position: absolute;
    padding-top: 15%;
    padding-left: 100%;
    margin-top: -10%;
    opacity: 0;
    transition: all 0.8s;
  }
}

@media only screen and (max-width: 575px) {
  .content_bottom {
    h2 {
      font-size: 23px !important;
    }
  }

  .footer_right {
    flex-direction: column !important;

    div {
      margin-bottom: 30px;
    }
  }
  .input_block {
    width: 90% !important;
  }
  .title_block {
    width: 100% !important;

  }


  .active_select {
    margin-left: 10px !important;
  }
  .checkSelect {
    margin: 10px 0 !important;
  }
  .block_time {
    width: 62% !important;
  }
  .select_options_block .button_filter {
    height: 56px !important;
  }
  .input_block {
    .content_bottom_btn {
      font-size: 13px;
      padding: 0 15px;
    }

    .content_bottom_input {
      font-size: 13px;
    }
  }
}

@media only screen and (max-width: 370px) {
  .content_blog .text-center h2 {
    font-size: 17px;
  }
  .content_blog .text-center p {
    font-size: 15px;
  }
  .blog_icons {
    font-size: 12px;
  }
  .content_blog .blog_buttons button {
    font-size: 12px;
  }

}
